<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      class="en"
      name="description"
      content="<%= pageInfo.description_en%>"
    />
    <meta
      class="ru"
      name="description"
      content="<%= pageInfo.description_en%>"
    />
    <title class="en"><%= pageInfo.title_en%></title>
    <title class="ru"><%= pageInfo.title_ru%></title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/media.css" />
  </head>
  <body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-77178353-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-77178353-1");
      gtag("config", "UA-77178353-4");
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "724240418057504");
      fbq("track", "PageView");
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display: none;"
        src="https://www.facebook.com/tr?id=724240418057504&ev=PageView&noscript=1"
      />
    </noscript>
    <!-- End Facebook Pixel Code -->

    <script type="text/javascript">
      !(function () {
        var t = document.createElement("script");
        (t.type = "text/javascript"),
          (t.async = !0),
          (t.src = "https://vk.com/js/api/openapi.js?160"),
          (t.onload = function () {
            VK.Retargeting.Init("VK-RTRG-371378-1ZFaI"), VK.Retargeting.Hit();
          }),
          document.head.appendChild(t);
      })();
    </script>
    <noscript
      ><img
        src="https://vk.com/rtrg?p=VK-RTRG-371378-1ZFaI"
        style="position: fixed; left: -999px;"
        alt=""
    /></noscript>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym"
      );

      ym(37320625, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: false,
        trackHash: true,
        ecommerce: "dataLayer",
      });
    </script>
    <noscript
      ><div>
        <img
          src="https://mc.yandex.ru/watch/37320625"
          style="position: absolute; left: -9999px;"
          alt=""
        /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->

    <div class="container">
      <header class="header">
        <div class="logos">
          <img
            class="csmoney-logo"
            src="../img/csmoney-logo-big.svg"
            alt="CSMONEY"
          />
          <img class="cross" src="../img/Cross.svg" alt="cross" />
          <div class="partner-logo">
            <img
              src="../img/<%= pageInfo.headerLogo %>"
              alt="<%= pageInfo.headerLogo %>"
            />
            <div class="partner-name"><%= pageInfo.bloggerName_en%></div>
          </div>
        </div>
        <div class="get-bonus">
          <div class="text">
            <span class="en">Get a bonus</span>
            <!-- ru -->
            <span class="ru">Получить бонус</span>
            <!--  -->
            <img src="../img/Vector.png" alt="get bonus" />
          </div>
          <div class="button-wrapper">
            <a
              class="button en"
              href="https://steamcommunity.com/openid/login?openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.return_to=https%3A%2F%2Fauth.dota.trade%2Flogin%2Fcallback%3FredirectUrl%3Dhttps%3A%2F%2Fcs.money%26callbackUrl%3Dhttps%3A%2F%2Fcs.money%2Flogin&openid.realm=https%3A%2F%2Fauth.dota.trade"
              ><img src="../img/Steam_logo.png" alt="Steam" /> sign in through
              steam</a
            >
            <!-- Sign in ru -->
            <a
              class="button ru"
              href="https://steamcommunity.com/openid/login?openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.return_to=https%3A%2F%2Fauth.dota.trade%2Flogin%2Fcallback%3FredirectUrl%3Dhttps%3A%2F%2Fcs.money%26callbackUrl%3Dhttps%3A%2F%2Fcs.money%2Flogin&openid.realm=https%3A%2F%2Fauth.dota.trade"
              ><img src="../img/Steam_logo.png" alt="Steam" />Войти с помощью
              Steam</a
            >
            <!--  -->
          </div>
        </div>
      </header>
      <!--  -->
      <div class="circle">
        <div class="image"><img src="../img/45.png" alt="+45%" /></div>
        <span class="circle-line"></span>
        <span class="circle-line"></span>
        <img
          class="background-image-m4"
          src="../img/background/m4.png"
          alt="m4"
        />
        <img
          src="../img/background/gloves.png"
          alt="gloves"
          class="background-image-gloves"
        />
        <img
          src="../img/background/usp.png"
          alt="usp"
          class="background-image-usp"
        />
        <img
          src="../img/background/knife.png"
          alt="knife"
          class="background-image-knife"
        />
        <div class="get-bonus-container">
          <div class="get-bonus-title en">
            <%= pageInfo.mainHeader_en %>
          </div>
          <div class="get-bonus-desctiption en">
            <%= pageInfo.underTitleText_en %>
          </div>
          <div class="get-bonus-button en">
            <a
              href="https://steamcommunity.com/openid/login?openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.return_to=https%3A%2F%2Fauth.dota.trade%2Flogin%2Fcallback%3FredirectUrl%3Dhttps%3A%2F%2Fcs.money%26callbackUrl%3Dhttps%3A%2F%2Fcs.money%2Flogin&openid.realm=https%3A%2F%2Fauth.dota.trade"
              ><%= pageInfo.buttonText_en %>
            </a>
          </div>
        </div>
        <!-- get-bonus ru -->
        <div class="get-bonus-container">
          <div class="get-bonus-title ru">
            <%= pageInfo.mainHeader_ru %>
          </div>
          <div class="get-bonus-desctiption ru">
            <%= pageInfo.underTitleText_ru %>
          </div>
          <div class="get-bonus-button ru">
            <a
              href="https://steamcommunity.com/openid/login?openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.return_to=https%3A%2F%2Fauth.dota.trade%2Flogin%2Fcallback%3FredirectUrl%3Dhttps%3A%2F%2Fcs.money%26callbackUrl%3Dhttps%3A%2F%2Fcs.money%2Flogin&openid.realm=https%3A%2F%2Fauth.dota.trade"
              ><%= pageInfo.buttonText_ru %></a
            >
          </div>
        </div>
        <!--   -->
      </div>
      <!--  -->
      <div class="instruction-wrapper">
        <div class="instruction-title en"><%=pageInfo.infoHeader_en %></div>
        <!-- ru -->
        <div class="instruction-title ru"><%=pageInfo.infoHeader_en %></div>
        <!--  -->
        <div class="steps">
          <div class="step">
            <div class="step-image">
              <img src="../img/instruction/Register.png" alt="Register" />
            </div>
            <div class="step-description en">
              <%= pageInfo.firstImageText_en %>
            </div>
            <!-- ru -->
            <div class="step-description ru">
              <%= pageInfo.firstImageText_ru %>
            </div>
            <!--  -->
          </div>
          <div class="step">
            <div class="step-image">
              <img
                src="../img/instruction/instruction-2.png"
                alt="+45%-bonus"
              />
            </div>
            <div class="step-description en">
              <%= pageInfo.secondImageText_en %>
            </div>
            <!-- ru -->
            <div class="step-description ru">
              <%= pageInfo.secondImageText_ru %>
            </div>
            <!--  -->
          </div>

          <div class="step">
            <div class="step-image">
              <img src="../img/instruction/Balance.png" alt="Balance" />
            </div>
            <div class="step-description en">
              <%= pageInfo.thirdImageText_en %>
            </div>
            <!-- ru -->
            <div class="step-description ru">
              <%= pageInfo.thirdImageText_ru %>
            </div>
            <!--  -->
          </div>
          <div class="step">
            <div class="step-image">
              <img src="../img/instruction/Buy-skins.png" alt="Buy-skins" />
            </div>
            <div class="step-description en">
              <%= pageInfo.fourthImageText_en %>
            </div>
            <!-- ru -->
            <div class="step-description ru">
              <%= pageInfo.fourthImageText_ru %>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
      <!--  -->
      <div class="about-container">
        <div class="gaules-about-title en">
          <%= pageInfo.feedbackHeader_en %>
        </div>
        <!-- ru -->
        <div class="gaules-about-title ru">
          <%= pageInfo.feedbackHeader_ru %>
        </div>
        <!--  -->
        <div class="chat">
          <div class="from-user">
            <div class="user-avatar">
              <img src="../img/<%= pageInfo.chatLogo %>" alt="Logo" />
            </div>
            <div class="user-comment">
              <div class="comment-from">
                <img src="../img/star.svg" alt="trustpilot logo" />
                <span>Trustpilot</span>
                <img src="../img/Rating.svg" alt="rating" />
              </div>
              <div class="comment-text en">
                <%= pageInfo.feedbackText_en %>
              </div>
              <!-- ru -->
              <div class="comment-text ru">
                <%= pageInfo.feedbackText_ru %>
              </div>
              <!--  -->
              <div class="comment-date">12.10.2019</div>
            </div>
          </div>
          <div class="from-csmoney">
            <div class="our-comment">
              <div class="comment-text comment-text-our">
                <span class="en"><%= pageInfo.csmoneyAnswer_en %> </span>
                <!-- ru -->
                <span class="ru"><%= pageInfo.csmoneyAnswer_ru %></span>
                <!--  -->
                <img src="../img/Perfect.svg" alt="smile" />
              </div>
              <div class="comment-date">12.10.2019</div>
            </div>
            <div class="our-avatar">
              <img src="../img/CS.MONEY.png" alt="csmoney" />
            </div>
          </div>

          <div class="check-review-wrapper">
            <a
              class="check-review"
              href="https://ru.trustpilot.com/review/cs.money"
              target="_blank"
              rel="noopener"
            >
              <span class="en"><%= pageInfo.reviewLink_en %> </span>
              <!-- ru -->
              <span class="ru"><%= pageInfo.reviewLink_ru %></span>
              <!--  -->
              <img src="../img/Go_to.svg" alt="vector" />
            </a>
          </div>
        </div>
        <div class="videos">
          <div class="video">
            <iframe
              width="340"
              height="230"
              src="<%= pageInfo.firstVideoLink%>"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="video-title"><%= firstVideoTitle %></div>
          </div>
          <div class="video">
            <iframe
              width="340"
              height="230"
              src="<%= pageInfo.secondVideoLink%>"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="video-title">
              <%= secondVideoTitle %>
            </div>
          </div>
          <div class="video">
            <iframe
              width="340"
              height="230"
              src="<%= pageInfo.thirdVideoLink%>"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <div class="video-title"><%= thirdVideoTitle %></div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="call-to-action">
        <div class="csmoney-link en"><%= pageInfo.useCsmoneyTitle_en %></div>
        <!-- ru -->
        <div class="csmoney-link ru"><%= pageInfo.useCsmoneyTitle_ru %></div>
        <!--  -->
        <div class="call-to-action-title en">
          <%= pageInfo.finalBlockHeader_en %>
        </div>
        <!-- ru -->
        <div class="call-to-action-title ru">
          <%= pageInfo.finalBlockHeader_ru %>
        </div>
        <!--  -->
        <div class="activation-promo">
          <!-- <div class="promocode">GAULES45</div> -->
          <input
            class="promocode"
            type="text"
            value="<%= pageInfo.promocode %>"
          />
          <a
            class="en activate-button"
            href="https://steamcommunity.com/openid/login?openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.return_to=https%3A%2F%2Fauth.dota.trade%2Flogin%2Fcallback%3FredirectUrl%3Dhttps%3A%2F%2Fcs.money%26callbackUrl%3Dhttps%3A%2F%2Fcs.money%2Flogin&openid.realm=https%3A%2F%2Fauth.dota.trade"
            ><%= pageInfo.finalButtonText_en %></a
          >
          <!-- ru -->
          <a
            class="ru activate-button"
            href="https://steamcommunity.com/openid/login?openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.return_to=https%3A%2F%2Fauth.dota.trade%2Flogin%2Fcallback%3FredirectUrl%3Dhttps%3A%2F%2Fcs.money%26callbackUrl%3Dhttps%3A%2F%2Fcs.money%2Flogin&openid.realm=https%3A%2F%2Fauth.dota.trade"
            ><%= pageInfo.finalButtonText_ru %></a
          >
          <!--  -->
        </div>
        <div class="activation-tip en">
          <%= pageInfo.textUnderFinalButton_en %>
        </div>
        <!-- ru -->
        <div class="activation-tip ru">
          <%= pageInfo.textUnderFinalButton_ru %>
        </div>
        <!--  -->
        <div class="background-blur"></div>
        <img
          class="background-image-butterfly"
          src="../img/background/butterfly.png"
          alt="butterfly"
        />
        <img
          class="background-image-scout"
          src="../img/background/scout.png"
          alt="scout"
        />
      </div>
      <footer class="footer">
        <div class="footer-wrapper">
          <div class="copyrights">
            Copyright © 2020 <span>CS.MONEY </span> All rights reserved.
          </div>
          <div class="social-media">
            <a
              href="https://steamcommunity.com/groups/csmoneytrade"
              target="_blank"
              rel="noopener"
              ><img src="../img/sm/Steam.svg" alt="Steam"
            /></a>
            <a
              href="https://twitter.com/csmoneytrade"
              target="_blank"
              rel="noopener"
              ><img src="../img/sm/Twitter.svg" alt="Twitter"
            /></a>
            <a
              href="https://www.instagram.com/csmoneytrade/"
              target="_blank"
              rel="noopener"
              ><img src="../img/sm/Instagram.svg" alt="Instagram"
            /></a>
            <a href="https://vk.com/csmoneytrade" target="_blank" rel="noopener"
              ><img src="../img/sm/Vk.svg" alt="VK"
            /></a>
            <a
              href="https://www.facebook.com/csmoneytrade/"
              target="_blank"
              rel="noopener"
              ><img src="../img/sm/Facebook.svg" alt="Facebook"
            /></a>
            <a
              href="https://discordapp.com/invite/vmUuupq"
              target="_blank"
              rel="noopener"
              ><img src="../img/sm/Discord.svg" alt="Discord"
            /></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
