<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/css/admin.css" />
  <title>Shimbabumba</title>
</head>

<body>
  <style>
    
    body {
      padding: 0;
      margin: 0;
    }

    .container {
      max-width: 1304px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
    }

    .make-new-page {
      align-self: center;
    }

    .list {
      display: flex;
      flex-direction: column;
    }

    .form-wrapper {
      display: none;
    }

    .change-language-button {
      text-align: center;
    }

    .form {
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    form div {
      margin-bottom: 10px;
    }

    .form button {
      height: 50px;
      width: 200px;
      margin: 0 auto;
    }

    .main {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .wrappers {
      display: flex;
      align-items: flex-start;
    }
    .logout{
      align-self: start;
      margin-left: 70px;
    }
  </style>
  <div class="container">
    <h2>Admin Panel</h2>
    <div class="make-new-page">
      <input type="button" value="Create New Page" id="newPageBtn" onclick="createPage()"/>
    </div>
    <div class="main">
      <div class="pages">
        Список страниц:
        <ul class="list">
          <% for (title of pages) {%>
          <li class="li" id="<%= title.title_en%>">
            <form action="/influencer/edit/<%= title.title_en %>" method="POST" name="<%= title.title_en %>"></form>
            <a href="/<%= title.title_en%>" target="_blank"><%= title.title_en%></a>
            <button id="<%=title.title_en%>" class="edit-btn" type="submit"
              onclick="window.open('/influencer/edit/<%= title.title_en %>')">
              Edit
            </button>
            </form>
            <button onclick="confirm('Вы уверены, что хотите удалить страницу?')"><a href="/influencer/delete/<%= title.title_en %>">Удалить</a></button>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="form-wrapper">
        <form class="form" action="/shimbabumba/admin" method="post" class="info">
          <div class="wrappers">
            <div class="en-wrapepr">
              <!-- 1 -->
              <div>
                <label for="titleEn">En-Title</label>
                <input name="title_en" type="text" />
              </div>

              <!-- 2 -->
              <div>
                <label for="descriptionEn">En-Description</label>
                <input name="description_en" type="text" />
              </div>

              <!-- 3 -->
              <div>
                <label for="aliasEn">En-Alias</label>
                <input type="text" name="alias_en" />
              </div>

              <!-- 4 -->
              <div>
                <label for="firstLogoEn">Header Logo </label>
                <input name="headerLogo" type="file" />
              </div>

              <!-- 5 -->
              <div>
                <label for="secondLogoEn">Chat Logo</label>
                <input name="chatLogo" type="file" />
              </div>

              <!-- 6 -->
              <div>
                <label for="bloggerNameEn">Name of blogger</label>
                <input type="text" name="bloggerName_en" />
              </div>

              <!-- 7 -->
              <div>
                <label for="mainHeaderEn">Main header</label>
                <input name="mainHeader_en" type="text" />
              </div>

              <!-- 8 -->
              <div>
                <label for="subtitleEn">Text under Title</label>
                <input type="text" name="underTitleText_en" />
              </div>

              <!-- 9 -->
              <div>
                <label for="buttonTextEn">Button text</label>
                <input type="text" name="buttonText_en" />
              </div>

              <!-- 10 -->

              <div>
                <label for="infoHeaderEn">Title of info</label>
                <input type="text" name="infoHeader_en" />
              </div>

              <!-- 11-1 -->
              <div>
                <label for="firstImageTextEn">Text of 1 image</label>
                <input type="text" name="firstImageText_en" />
              </div>

              <!-- 11-2 -->
              <div>
                <label for="secondImageTextEn">Text of 2 image</label>
                <input type="text" name="secondImageText_en" />
              </div>

              <!-- 11-3 -->
              <div>
                <label for="thirdImageTextEn">Text of 3 image</label>
                <input type="text" name="thirdImageText_en" />
              </div>

              <!-- 11-4 -->
              <div>
                <label for="fourthImageTextEn">Text of 4 image</label>
                <input type="text" name="fourthImageText_en" />
              </div>

              <!-- 12 -->
              <div>
                <label for="feedbackHeaderEn">Header of feedback</label>
                <input type="text" name="feedbackHeader_en" />
              </div>

              <!-- 13 -->
              <div>
                <label for="feedbackTextEn">Text of feedback</label>
                <input type="text" name="feedbackText_en" />
              </div>

              <!-- 14 -->
              <div>
                <label for="reviewLinkEn">Review text link</label>
                <input type="text" name="reviewLink_en" />
              </div>

              <!-- 15 -->
              <div>
                <label for="csmoneyAnswerEn">CS.MONEY answer</label>
                <input type="text" name="csmoneyAnswer_en" />
              </div>

              <!-- 16-1 -->
              <div class="video">
                <label for="firstVideoLink">Link of 1st video</label>
                <input type="url" name="firstVideoLink" />
              </div>
              <!-- 16-2 -->
              <div class="video">
                <label for="secondVideoLink">Link of 2nd video</label>
                <input type="url" name="secondVideoLink" />
              </div>
              <!-- 16-3 -->
              <div class="video">
                <label for="thirdVideoLink">Link of 3rd video</label>
                <input type="url" name="thirdVideoLink" />
              </div>
              <!-- 17 -->
              <div>
                <label for="useCsmoneywithEn">use CS.Money with: link</label>
                <input type="text" name="useCsmoneyTitle_en" />
              </div>

              <!-- 18 -->
              <div>
                <label for="finalHeaderEn">Header of final Block</label>
                <input type="text" name="finalBlockHeader_en" />
              </div>

              <!-- 19 -->
              <div>
                <label for="promocode">Promocode of final block</label>
                <input type="text" name="promocode" />
              </div>
              <!-- 20 -->
              <div>
                <label for="finalButtonEn">Text of final button</label>
                <input type="text" name="finalButtonText_en" />
              </div>

              <!-- 21 -->
              <div>
                <label for="textUnderFinalButton">Text under final button</label>
                <input type="text" name="textUnderFinalButton_en" />
              </div>
            </div>
            <!-- button -->
            <div class="ru-wrapper">
              <!-- 1 -->
              <div>
                <label for="titleRu">Ru-Title</label>
                <input name="title_ru" type="text" />
              </div>
              <!-- 2 -->

              <div>
                <label for="descriptionRu">Ru-Description</label>
                <input name="description_ru" type="text" />
              </div>
              <!-- 3 -->

              <div>
                <label for="aliasRu">Ru-Alias</label>
                <input type="text" name="alias_ru" />
              </div>
              <!-- 4 -->


              <div>
                <label for="bloggerName">Name of blogger</label>
                <input type="text" name="bloggerName_ru" />
              </div>
              <!-- 7 -->

              <div>
                <label for="mainHeaderRu">Главный заголовок</label>
                <input name="mainHeader_ru" type="text" />
              </div>
              <!-- 8 -->

              <div>
                <label for="subtitleRu">Текст под заголовком</label>
                <input type="text" name="underTitleText_ru" />
              </div>
              <!-- 9 -->

              <div>
                <label for="buttonTextRu">Текст кнопки</label>
                <input type="text" name="buttonText_ru" />
              </div>
              <!-- 10 -->

              <div>
                <label for="infoHeaderRu">Заголовок блока инфографики</label>
                <input type="text" name="infoHeader_ru" />
              </div>
              <!-- 11-1 -->

              <div>
                <label for="imageText1Ru">Текст под 1 изображением</label>
                <input type="text" name="firstImageText_ru" />
              </div>
              <!-- 11-2 -->

              <div>
                <label for="imageText2Ru">Текст под 2 изображением</label>
                <input type="text" name="secondImageText_ru" />
              </div>
              <!-- 11-3 -->

              <div>
                <label for="imageText3Ru">Текст под 3 изображением</label>
                <input type="text" name="thirdImageText_ru" />
              </div>
              <!-- 11-4 -->

              <div>
                <label for="imageText4Ru">Текст под 4 изображением</label>
                <input type="text" name="fourthImageText_ru" />
              </div>
              <!-- 12 -->

              <div>
                <label for="feedbackHeaderRu">Заголовок отзыва</label>
                <input type="text" name="feedbackHeader_ru" />
              </div>
              <!-- 13 -->

              <div>
                <label for="feedbackTextRu">Текст отзыва</label>
                <input type="text" name="feedbackText_ru" />
              </div>
              <!-- 14 -->

              <div>
                <label for="reviewLinkRu">Текст на ссылку отзывов</label>
                <input type="text" name="reviewLink_ru" />
              </div>
              <!-- 15 -->

              <div>
                <label for="csmoneyAnswerRu">Ответ CS.MONEY</label>
                <input type="text" name="csmoneyAnswer_ru" />
              </div>

              <div>
                <label for="useCsmoneywithRu">Пользуйся cs.money с</label>
                <input type="text" name="useCsmoneyTitle_ru" />
              </div>
              <!-- 18 -->

              <div>
                <label for="finalHeaderRu">Заголовок финального блока</label>
                <input type="text" name="finalBlockHeader_ru" />
              </div>

              <div>
                <label for="finalButtonRu">Текст финальной кнопки</label>
                <input type="text" name="finalButtonText_ru" />
              </div>
              <!-- 21 -->
              <div>
                <label for="textUnderFinalButtonRu">Текст под финальной кнопкой</label>
                <input type="text" name="textUnderFinalButton_ru" />
              </div>
            </div>
          </div>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
    <button class="logout"><a href="/shimbabumba/logout">LogOut</a></button>
  </div>
  <script>
    const engBtn = document.getElementById("en-btn");
    const rusBtn = document.getElementById("ru-btn");
    const engDiv = document.querySelector(".en-wrapper");
    const rusDiv = document.querySelector(".ru-wrapper");
    const createButton = document.getElementById("newPageBtn");
    const editBtn = document.querySelectorAll(".edit-btn");
    const list = document.querySelector(".list");
    const inputFields = document.querySelectorAll("input");
    for (let i = 0; i < inputFields.length; i++) {
      inputFields[i].setAttribute('required', 'required')
    }

function createPage() {
  const form = document.querySelector(".form-wrapper");
  form.style.display = "block";
}
  </script>
</body>

</html>